@model IEnumerable<CLC.Models.SavedGame>

<div>
    <h4>SavedGames</h4>
    <hr />
    @foreach (var item in Model)
    {
        <div class="game-item">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <td>@Html.DisplayFor(model => item.id)</td>
                </tr>
                <tr>
                    <th>UserId</th>
                    <td>@Html.DisplayFor(model => item.userId)</td>
                </tr>
                <tr>
                    <th>GridId</th>
                    <td>@Html.DisplayFor(model => item.gridId)</td>
                </tr>
                <tr>
                    <th>Rows</th>
                    <td>@Html.DisplayFor(model => item.rows)</td>
                </tr>
                <tr>
                    <th>Cols</th>
                    <td>@Html.DisplayFor(model => item.cols)</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>@Html.DisplayFor(model => item.date)</td>
                </tr>
            </table>
            <div class="button-container">
                <button class="btn btn-danger delete-button" data-id="@item.id">Delete</button>
                <button class="btn btn-primary select-button" data-userid="@item.userId" data-gridid="@item.gridId" data-rows="@item.rows" data-cols="@item.cols">Select</button>
            </div>
        </div>
        <hr />
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".delete-button").click(function () {
                var gameId = $(this).data("id");
                deleteSavedGame(gameId);
            });

            $(".select-button").click(function () {
                var userId = $(this).data("userid");
                var gridId = $(this).data("gridid");
                var rows = $(this).data("rows");
                var cols = $(this).data("cols");
                playSavedGame(userId, gridId, rows, cols);
            });
        });

        function deleteSavedGame(id) {
    $.ajax({
        url: '@Url.Action("deleteSavedGame", "Game")',
        type: 'POST',
        data: { id: id },
        success: function (result) {
            // Handle success response, if needed
            // Reload the page to update the view
            location.reload();
        },
        error: function (error) {
            // Handle error response, if needed
        }
    });
}


        function playSavedGame(userId, gridId, rows, cols) {
            $.ajax({
                url: '@Url.Action("playSavedGame", "Game")',
                type: 'POST',
                data: { userId: userId, gridId: gridId, rows: rows, cols: cols },
                success: function (result) {
                    // Handle success response, if needed
                },
                error: function (error) {
                    // Handle error response, if needed
                }
            });
        }
    </script>
}
